<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript">
        // This script block draws a pie chart with the top-ten most common passwords displayed
        $(document).ready(function(){

        google.charts.load("current", {packages:["imagepiechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // ['Task', 'Hours per Day'],['Work',        11],['Sleep',       7]]
            var data = google.visualization.arrayToDataTable(jQuery.parseJSON(get_top_ten())["data"]);
            var chart = new google.visualization.ImagePieChart(document.getElementById('chart_div'));
            chart.draw(data, {width: 430, height: 240, title: 'Top Ten Passwords'});
        };
    });
    </script>
</head>
<body>
    <div id="top-bar" style="width:100%; height: 100px;"></div>
    <div id="chart_div" style="width: 400px; height: 240px;"></div>
    <div id="stats-box" style="width: 400px; height: 70%;"></div>
    <div id="latest-attempts-box" style="width: 400px; height: 70%;"></div>
</body>
</html>