<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body style="background: url({{ url_for('static', filename='img/background.jpg') }})">
    <div id="top-bar" style="width:100%; height: 100px;">
        <img src="{{ url_for('static', filename='img/logo.gif') }}">
    </div>
    <div id="stats-box" class="floater">
      <div class="header">Collection Statistics</div>
      <div id="stats-box-inner"></div>
    </div>
    <div id="latest-attempts-box" class="floater">
      <div class="header">Most Recent Passwords</div>
      <div id="latest-attempts-box-inner"></div>
    </div>
    <div id="chart-box" class="floater">
      <div class="header">Top Ten Passwords</div>
      <div id="chart-box-inner"></div>
    </div>
    <div id="policy-box" class="regular floater">
      <div class="header">Policy Information</div>
        <a href="passwords.php">View All Passwords</a><br>
        <label onclick="update_password_policy()">
            <a href="#">Update Password Policy</a>
        </label>
        <div id="policy-result-box"></div>
    </div>
    <div id="password-box" class="regular floater">
      <div class="header">Password Checker</div>
      <div class="inner-wrap">
        <label>Check Password: <input id="testbutton" type="pw" name="pw" /></label>
      </div>
      <div class="button-section">
        <button onclick="check_password()">Submit</button>
      </div>
      <div id="password-result-box">&nbsp</div>
    </div>
</body>
</html>